@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  button, input, select, textarea, a {
    @apply transition-all duration-300 ease-in-out;
  }

  h1, h2, h3, h4, h5, h6, .font-semibold, .font-bold {
    font-family: 'Outfit', sans-serif;
  }
}
